---
import Heading from '@elements/Heading.astro';
// import Achievement from '@components/Achievement.astro';

import Layout from '@layouts/Layout.astro';

// import achievementsData from '@data/achievementsData';

import '@/base.css';
---
<style>
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image img {
    max-width: 100%;
    max-height: 100%;
  }

  @media (min-width: 768px) {
    .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .content {
      flex: 1;
    }

    .image {
      flex: 1;
    }
  }
</style>

<Layout>
  <div class="container">
    <div class="content">
      <Heading>Achievements💡</Heading>
      <p>Some of my achievements over the past few years</p>
      <div class="achievements-container">
         <ul>
           <li> Air 256 in CodeJam Farewell in Round A. </li>
           <li> Solved 100+ Problems on Leetcode.  </li>
           <li>Microsoft Azure Fundamental Certified.</li>
           <li>Google Cloud Platform Foundational.</li>
           <li> Top 10 in SDG GDSC Hackthon.</li>
           <li> Top 10 in DataBid Hackthon.</li>
         </ul>
      </div>
    </div>
    <div class="image">
      <img src="/assets/images/1.png" alt="3D model" />
    </div>
  </div>
</Layout>

